language = "bash"
run = "mkdir -p ./target && javac -classpath .:/run_dir/junit-4.12.jar:target/dependency/* -d ./target src/main/java/u7pp/*.java && cd ./target && java -classpath .:/run_dir/junit-4.12.jar:target/dependency/* u7pp/Main"
ignoredPaths=[".git", ".settings", ".gitignore", ".project"]